.main {
  flex: 1;
  overflow: auto;
  background-color: #d7d7d7;
}

.content {
  padding: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 900px) {
  .chart-container {
    flex-direction: column;
  }
}

.dashboard {
  display: flex;
  flex-direction: column; /* Ensure content stacks vertically */
  justify-content: center;
  padding: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 220px 410px 1fr 280px; /* Adjusted column widths */
  grid-template-rows: 310px auto; /* First row fixed height */
  gap: 20px;
  width: 100%;
}

.grid-item {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subgrid {
  display: grid;
  row-gap: 2.5 px; /* Add a gap between employee and average items */
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  height: 100%;
}

.activity {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.salary {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.employee,
.average {
  width: 85%; /* Take full width of the grid item */
  height: 64%; /* Each card takes half of the available height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
   /* Include padding and border in the element's total width and height */
}

.requests {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.employee-list {
  margin-top: 20px; /* Add margin to separate from grid */
}

.employee-tab { /* Add margin to separate from grid */
  padding: .6rem 0; /* Add padding to the top and bottom */
}



